name: Reusable workflow

on:
  workflow_call:
    inputs:
      BUCKET_NAME:
        type: string
        required: true
      FOLDERS:
        type: string
    secrets:
       AWS_OIDC_ROLE:
         required: true
permissions:
    id-token: write # This is required for requesting the JWT
    contents: read  # This is required for actions/checkout
jobs:
  build:
    strategy:
      matrix:
        folders: ${{github.event.inputs.FOLDERS}}
    runs-on: ubuntu-20.04
    steps: 
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS Creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          role-session-name: Session For OIDC
          aws-region: eu-central-1
      - name: Copy to s3
        uses: sparshbaurasi/terraform-cicd/S3-file-update@main
        with:
          BUCKET_NAME: ${{ github.event.inputs.BUCKET_NAME }}
          FILE_NAME: ${{ matrix.folders }}
